.background {
    background-color: lightgrey;
    height: 100%;
    width: 100%;
    position: absolute;
    left: 0;
    overflow: hidden;
}

.container {
    margin: 4% auto;
    background-color: white;
    width: 75%;
    height: 85%;
}

.top {
    background-color: black;
    color: white;
    padding: 19px;
}